<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mainScene</key>
	<dict>
		<key>landscape</key>
		<string>0</string>
		<key>back</key>
		<string></string>
		<key>image</key>
		<string>animals main scene</string>
		<key>regions</key>
		<dict>
			<key>farmAnimals</key>
			<dict>
				<key>questSnd</key>
				<string>wherearethe_c.caf</string>
				<key>question</key>
				<string>Where are the...</string>
				<key>next</key>
				<string>farm animals</string>
				<key>image</key>
				<string>farm animals</string>
				<key>sound</key>
				<string>farmanimals_c.caf</string>
				<key>positions</key>
				<string>+3,-6/+4,-6/+4,-5/+5,-5/+2,-6/+2,-5/+3,-5/+1,-5/+1,-4/+1,-3/+2,-3/+3,-2/+4,-2/+4,-3/+5,-3/+5,-4/+4,-4/+3,-4/+2,-4/+3,-3/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string></string>
			</dict>
			<key>zooAnimals</key>
			<dict>
				<key>questSnd</key>
				<string>wherearethe_c.caf</string>
				<key>question</key>
				<string>Where are the...</string>
				<key>next</key>
				<string>zoo animals</string>
				<key>image</key>
				<string>zoo animals</string>
				<key>sound</key>
				<string>zooanimals_c.caf</string>
				<key>positions</key>
				<string>-3,-3/-2,-3/-1,-3/+0,-3/+0,-2/-1,-2/-2,-2/-3,-2/-4,-2/-4,-1/-4,+0/-4,+1/-3,+1/-2,+1/-1,+1/+0,+1/+0,+0/+0,-1/-1,-1/-2,-1/-3,-1/-3,+0/-2,+0/-1,+0/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string></string>
			</dict>
			<key>housePets</key>
			<dict>
				<key>questSnd</key>
				<string>wherearethe_c.caf</string>
				<key>question</key>
				<string>Where are the...</string>
				<key>next</key>
				<string>housepets</string>
				<key>image</key>
				<string>house pets</string>
				<key>sound</key>
				<string>housepets_c.caf</string>
				<key>positions</key>
				<string>+2,+0/+3,+0/+3,+1/+2,+1/+1,+1/+1,+2/+1,+3/+2,+3/+2,+2/+3,+2/+3,+3/+3,+4/+3,+5/+4,+5/+4,+6/+3,+6/+2,+6/+1,+6/+0,+6/+1,+5/+2,+5/+2,+4/+1,+4/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string></string>
			</dict>
		</dict>
		<key>xof</key>
		<string>0.50</string>
		<key>yof</key>
		<string>1.00</string>
	</dict>
	<key>farm animals</key>
	<dict>
		<key>back</key>
		<string>mainScene</string>
		<key>image</key>
		<string>farm animals</string>
		<key>regions</key>
		<dict>
			<key>cow</key>
			<dict>
				<key>questSnd</key>
				<string>whereisthe_c.caf</string>
				<key>question</key>
				<string>Where is the...</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>cow</string>
				<key>sound</key>
				<string>cow_c.caf</string>
				<key>positions</key>
				<string>+1,-4/+2,-4/+3,-4/+3,-3/+2,-3/+1,-3/+1,-2/+2,-2/+3,-2/+4,-2/+4,-1/+3,-1/+2,-1/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string>a_cow160</string>
			</dict>
			<key>horse</key>
			<dict>
				<key>questSnd</key>
				<string>whereisthe_c.caf</string>
				<key>question</key>
				<string>Where is the...</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>horse</string>
				<key>sound</key>
				<string>horse_c.caf</string>
				<key>positions</key>
				<string>-2,-3/-1,-3/-1,-2/-2,-2/-3,-2/-4,-1/-5,-1/-5,+0/-4,+0/-3,+0/-2,+0/-2,-1/-1,-1/-3,-1/-4,-2/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string>a_horse160</string>
			</dict>
			<key>sheep</key>
			<dict>
				<key>questSnd</key>
				<string>whereisthe_c.caf</string>
				<key>question</key>
				<string>Where is the...</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>sheep</string>
				<key>sound</key>
				<string>sheep_c.caf</string>
				<key>positions</key>
				<string>+0,+0/+1,+0/+2,+1/+1,+1/+0,+1/+0,+2/+0,+3/+1,+3/+2,+3/+2,+2/+1,+2/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string>a_sheep160</string>
			</dict>
			<key>goat</key>
			<dict>
				<key>questSnd</key>
				<string>whereisthe_c.caf</string>
				<key>question</key>
				<string>Where is the...</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>goat</string>
				<key>sound</key>
				<string>goat_c.caf</string>
				<key>positions</key>
				<string>-3,+2/-2,+2/-2,+3/-3,+3/-3,+4/-2,+4/-2,+5/-3,+5/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string>a_goat160</string>
			</dict>
			<key>pig</key>
			<dict>
				<key>questSnd</key>
				<string>whereisthe_c.caf</string>
				<key>question</key>
				<string>Where is the...</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>pig</string>
				<key>sound</key>
				<string>pig_c.caf</string>
				<key>positions</key>
				<string>+1,+4/+2,+4/+3,+4/+3,+5/+2,+5/+1,+5/+2,+6/+3,+6/+4,+6/+4,+5/+5,+5/+5,+6/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string>a_pig160</string>
			</dict>
		</dict>
		<key>xof</key>
		<string>0.50</string>
		<key>yof</key>
		<string>1.00</string>
	</dict>
	<key>zoo animals</key>
	<dict>
		<key>back</key>
		<string>mainScene</string>
		<key>image</key>
		<string>zoo animals</string>
		<key>regions</key>
		<dict>
			<key>elephant</key>
			<dict>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>elephant</string>
				<key>sound</key>
				<string>elephant_d.caf</string>
				<key>positions</key>
				<string>-2,-6/-1,-6/+0,-6/+0,-5/+0,-4/-1,-4/-1,-5/-2,-5/-3,-5/-3,-6/-3,-4/-2,-4/-2,-3/-3,-3/-3,-2/-2,-2/-1,-2/-1,-3/+0,-3/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string>a_elephant160</string>
			</dict>
			<key>giraffe</key>
			<dict>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>giraffe</string>
				<key>sound</key>
				<string>giraffe_d.caf</string>
				<key>positions</key>
				<string>+2,-6/+3,-6/+3,-5/+2,-5/+2,-4/+3,-4/+3,-3/+2,-3/+2,-2/+3,-2/+4,-3/+4,-2/+1,-4/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string>a_giraffe160</string>
			</dict>
			<key>monkey</key>
			<dict>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>monkey</string>
				<key>sound</key>
				<string>monkey_d.caf</string>
				<key>positions</key>
				<string>+0,-1/+1,-1/+1,+0/+0,+0/-1,+0/-1,+1/+0,+1/+1,+1/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string>a_monkey160</string>
			</dict>
			<key>lion</key>
			<dict>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>lion</string>
				<key>sound</key>
				<string>lion_d.caf</string>
				<key>positions</key>
				<string>-4,+0/-3,+0/-2,+0/-2,+1/-3,+1/-4,+1/-4,+2/-3,+2/-2,+2/-3,+3/-4,+3/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string>a_lion160</string>
			</dict>
			<key>tiger</key>
			<dict>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>tiger</string>
				<key>sound</key>
				<string>tiger_d.caf</string>
				<key>positions</key>
				<string>+2,+1/+3,+1/+4,+1/+4,+2/+3,+2/+2,+2/+1,+3/+2,+3/+3,+3/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string>a_tiger160</string>
			</dict>
		</dict>
		<key>xof</key>
		<string>0.50</string>
		<key>yof</key>
		<string>1.00</string>
	</dict>
	<key>housepets</key>
	<dict>
		<key>back</key>
		<string>mainScene</string>
		<key>image</key>
		<string>house pets</string>
		<key>regions</key>
		<dict>
			<key>dog</key>
			<dict>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_c.caf</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>dog</string>
				<key>sound</key>
				<string>dog_c.caf</string>
				<key>positions</key>
				<string>+1,+2/+1,+3/+2,+3/+2,+4/+2,+5/+3,+5/+4,+5/+4,+4/+3,+4/+3,+3/+4,+3/+3,+2/+2,+2/+2,+1/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string>a_dog160</string>
			</dict>
			<key>cat</key>
			<dict>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_c.caf</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>cat</string>
				<key>sound</key>
				<string>cat_c.caf</string>
				<key>positions</key>
				<string>-2,+3/-2,+4/-1,+4/-1,+3/+0,+3/+0,+4/+0,+5/-1,+5/-1,+6/-2,+6/-2,+5/-3,+5/-3,+4/-3,+6/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string>a_cat160</string>
			</dict>
			<key>hamster</key>
			<dict>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_c.caf</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>hamster</string>
				<key>sound</key>
				<string>hamster_c.caf</string>
				<key>positions</key>
				<string>-3,+1/-3,+0/-2,+0/-3,-1/-4,+0/-2,-1/-4,-1/-2,+1/-4,+1/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string>a_hamster160</string>
			</dict>
			<key>bird</key>
			<dict>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_c.caf</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>bird</string>
				<key>sound</key>
				<string>bird_c.caf</string>
				<key>positions</key>
				<string>+0,-4/+1,-4/+1,-3/+0,-3/+0,-2/+1,-2/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string>a_bird160</string>
			</dict>
			<key>fish</key>
			<dict>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_c.caf</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>fish</string>
				<key>sound</key>
				<string>fish_c.caf</string>
				<key>positions</key>
				<string>-3,-2/-2,-2/-1,-2/-1,-3/-2,-3/-3,-3/-3,-4/-2,-4/-1,-4/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string>a_fish160</string>
			</dict>
		</dict>
		<key>xof</key>
		<string>0.50</string>
		<key>yof</key>
		<string>1.00</string>
	</dict>
</dict>
</plist>
