<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mainScene</key>
	<dict>
		<key>landscape</key>
		<string>0</string>
		<key>back</key>
		<string>mainScene</string>
		<key>image</key>
		<string>letters numbers main</string>
		<key>regions</key>
		<dict>
			<key>letters</key>
			<dict>
				<key>question</key>
				<string>Where are the...</string>
				<key>questSnd</key>
				<string>wherearethe_d.caf</string>
				<key>next</key>
				<string>abcdef</string>
				<key>image</key>
				<string>letters</string>
				<key>sound</key>
				<string>letters_d2.caf</string>
				<key>positions</key>
				<string>-5,-6/-4,-6/-3,-6/-2,-6/-2,-5/-1,-5/+1,-5/+0,-5/+1,-4/+1,-3/+0,-3/+0,-4/-1,-4/-1,-3/-1,-2/-2,-2/-2,-3/-2,-4/-3,-5/-3,-4/-3,-3/-3,-2/-4,-3/-4,-4/-4,-5/-5,-5/-5,-4/</string>
				<key>startDate</key>
				<string>2010-01-01</string>
				<key>tile</key>
				<string></string>
			</dict>
			<key>numbers</key>
			<dict>
				<key>question</key>
				<string>Where are the...</string>
				<key>questSnd</key>
				<string>wherearethe_d.caf</string>
				<key>next</key>
				<string>12345</string>
				<key>image</key>
				<string>numbers</string>
				<key>sound</key>
				<string>numbers_d2.caf</string>
				<key>positions</key>
				<string>+0,-2/+1,-2/+2,-2/+3,-2/+3,-1/+4,-1/+4,+0/+4,+1/+4,+2/+3,+2/+2,+2/+1,+2/+1,+1/+2,+1/+3,+1/+3,+0/+2,+0/+2,-1/+1,-1/+0,-1/+0,+0/+1,+0/+0,+1/</string>
				<key>startDate</key>
				<string>2010-01-01</string>
				<key>tile</key>
				<string></string>
			</dict>
			<key>colors</key>
			<dict>
				<key>question</key>
				<string>Where are the...</string>
				<key>questSnd</key>
				<string>wherearethe_d.caf</string>
				<key>next</key>
				<string>primary colors</string>
				<key>image</key>
				<string>colors</string>
				<key>sound</key>
				<string>colors_d2.caf</string>
				<key>positions</key>
				<string>-3,+1/-2,+1/-2,+2/-3,+2/-4,+2/-4,+3/-3,+3/-2,+3/-1,+3/-1,+2/+0,+3/+1,+4/+0,+4/-1,+4/-2,+4/-3,+4/-4,+4/-4,+5/-4,+6/-3,+6/-2,+6/-1,+6/+0,+6/+1,+6/+1,+5/+0,+5/-1,+5/-2,+5/-3,+5/</string>
				<key>startDate</key>
				<string>2010-01-01</string>
				<key>tile</key>
				<string></string>
			</dict>
		</dict>
		<key>xof</key>
		<string>0.50</string>
		<key>yof</key>
		<string>1.00</string>
	</dict>
	<key>abcdef</key>
	<dict>
		<key>landscape</key>
		<string>1</string>
		<key>back</key>
		<string>mainScene</string>
		<key>image</key>
		<string>abcdef</string>
		<key>regions</key>
		<dict>
			<key>a</key>
			<dict>
				<key>questSnd</key>
				<string>where_is_the_lt_d.caf</string>
				<key>question</key>
				<string>Where is the letter...</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>a</string>
				<key>sound</key>
				<string>a_d.caf</string>
				<key>positions</key>
				<string>+4,-6/+4,-5/+4,-4/+4,-3/+3,-3/+2,-3/+2,-4/+3,-4/+3,-5/+3,-6/+2,-6/+2,-5/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string>l_a160</string>
			</dict>
			<key>b</key>
			<dict>
				<key>questSnd</key>
				<string>where_is_the_lt_d.caf</string>
				<key>question</key>
				<string>Where is the letter...</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>b</string>
				<key>sound</key>
				<string>b_d.caf</string>
				<key>positions</key>
				<string>+4,-1/+4,+0/+4,+1/+4,+2/+3,+2/+2,+2/+2,+1/+3,+1/+3,+0/+3,-1/+2,-1/+2,+0/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string>l_b160</string>
			</dict>
			<key>c</key>
			<dict>
				<key>questSnd</key>
				<string>where_is_the_lt_d.caf</string>
				<key>question</key>
				<string>Where is the letter...</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>c</string>
				<key>sound</key>
				<string>c_d.caf</string>
				<key>positions</key>
				<string>+4,+4/+4,+5/+4,+6/+3,+6/+2,+6/+2,+5/+3,+5/+3,+4/+2,+4/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string>l_c160</string>
			</dict>
			<key>d</key>
			<dict>
				<key>questSnd</key>
				<string>where_is_the_lt_d.caf</string>
				<key>question</key>
				<string>Where is the letter...</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>d</string>
				<key>sound</key>
				<string>d_d.caf</string>
				<key>positions</key>
				<string>-1,-6/-1,-5/-1,-4/-1,-3/-2,-3/-3,-3/-3,-4/-2,-4/-2,-5/-3,-5/-3,-6/-2,-6/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string>l_d160</string>
			</dict>
			<key>e</key>
			<dict>
				<key>questSnd</key>
				<string>where_is_the_lt_d.caf</string>
				<key>question</key>
				<string>Where is the letter...</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>e</string>
				<key>sound</key>
				<string>e_d.caf</string>
				<key>positions</key>
				<string>-1,-1/-1,+0/-1,+1/-2,+1/-3,+1/-3,+0/-2,+0/-2,-1/-3,-1/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string>l_e160</string>
			</dict>
			<key>f</key>
			<dict>
				<key>questSnd</key>
				<string>where_is_the_lt_d.caf</string>
				<key>question</key>
				<string>Where is the letter...</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>f</string>
				<key>sound</key>
				<string>f_d.caf</string>
				<key>positions</key>
				<string>-1,+4/-1,+5/-1,+6/-2,+6/-2,+5/-2,+4/-3,+4/-3,+5/-3,+6/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string>l_f160</string>
			</dict>
			<key>next</key>
			<dict>
				<key>next</key>
				<string>ghijk</string>
				<key>image</key>
				<string></string>
				<key>sound</key>
				<string></string>
				<key>question</key>
				<string></string>
				<key>questSnd</key>
				<string></string>
				<key>positions</key>
				<string>+1,+4/+0,+4/+0,+3/+1,+3/+0,+5/+1,+5/</string>
				<key>startDate</key>
				<string>2010-01-01</string>
				<key>tile</key>
				<string></string>
			</dict>
		</dict>
		<key>xof</key>
		<string>1.00</string>
		<key>yof</key>
		<string>0.50</string>
	</dict>
	<key>ghijk</key>
	<dict>
		<key>landscape</key>
		<string>1</string>
		<key>back</key>
		<string>mainScene</string>
		<key>image</key>
		<string>ghijk</string>
		<key>regions</key>
		<dict>
			<key>g</key>
			<dict>
				<key>questSnd</key>
				<string>where_is_the_lt_d.caf</string>
				<key>question</key>
				<string>Where is the letter...</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>g</string>
				<key>sound</key>
				<string>g_d.caf</string>
				<key>positions</key>
				<string>+4,-6/+4,-4/+4,-5/+3,-4/+2,-4/+2,-5/+3,-5/+3,-6/+2,-6/+1,-6/+1,-5/+1,-4/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string>l_g160</string>
			</dict>
			<key>h</key>
			<dict>
				<key>questSnd</key>
				<string>where_is_the_lt_d.caf</string>
				<key>question</key>
				<string>Where is the letter...</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>h</string>
				<key>sound</key>
				<string>h_d.caf</string>
				<key>positions</key>
				<string>+4,-2/+4,-1/+4,+0/+4,+1/+3,+1/+2,+1/+2,+0/+3,+0/+3,-1/+3,-2/+2,-2/+2,-1/+1,-1/+1,+0/+1,+1/+1,-2/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string>l_h160</string>
			</dict>
			<key>i</key>
			<dict>
				<key>questSnd</key>
				<string>where_is_the_lt_d.caf</string>
				<key>question</key>
				<string>Where is the letter...</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>i</string>
				<key>sound</key>
				<string>i_d.caf</string>
				<key>positions</key>
				<string>+4,+3/+4,+4/+4,+5/+3,+5/+2,+5/+2,+4/+3,+4/+3,+3/+2,+3/+1,+3/+1,+4/+1,+5/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string>l_i160</string>
			</dict>
			<key>j</key>
			<dict>
				<key>questSnd</key>
				<string>where_is_the_lt_d.caf</string>
				<key>question</key>
				<string>Where is the letter...</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>j</string>
				<key>sound</key>
				<string>j_d.caf</string>
				<key>positions</key>
				<string>-1,-3/-1,-2/-1,-1/-2,-1/-3,-1/-3,-2/-2,-2/-2,-3/-3,-3/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string>l_j160</string>
			</dict>
			<key>k</key>
			<dict>
				<key>questSnd</key>
				<string>where_is_the_lt_d.caf</string>
				<key>question</key>
				<string>Where is the letter...</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>k</string>
				<key>sound</key>
				<string>k_d.caf</string>
				<key>positions</key>
				<string>-1,+1/-1,+2/-1,+3/-2,+3/-3,+3/-3,+2/-2,+2/-2,+1/-3,+1/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string>l_k160</string>
			</dict>
			<key>back</key>
			<dict>
				<key>next</key>
				<string>abcdef</string>
				<key>image</key>
				<string></string>
				<key>sound</key>
				<string></string>
				<key>question</key>
				<string></string>
				<key>questSnd</key>
				<string></string>
				<key>positions</key>
				<string>+0,-5/+0,-6/+0,-7/-1,-7/-1,-6/</string>
				<key>startDate</key>
				<string>2010-01-01</string>
				<key>tile</key>
				<string></string>
			</dict>
			<key>next</key>
			<dict>
				<key>next</key>
				<string>lmnop</string>
				<key>image</key>
				<string></string>
				<key>sound</key>
				<string></string>
				<key>question</key>
				<string></string>
				<key>questSnd</key>
				<string></string>
				<key>positions</key>
				<string>+0,+3/+0,+4/+0,+5/+0,+6/-1,+5/</string>
				<key>startDate</key>
				<string>2010-01-01</string>
				<key>tile</key>
				<string></string>
			</dict>
		</dict>
		<key>xof</key>
		<string>1.00</string>
		<key>yof</key>
		<string>0.50</string>
	</dict>
	<key>lmnop</key>
	<dict>
		<key>landscape</key>
		<string>1</string>
		<key>back</key>
		<string>mainScene</string>
		<key>image</key>
		<string>lmnop</string>
		<key>regions</key>
		<dict>
			<key>l</key>
			<dict>
				<key>questSnd</key>
				<string>where_is_the_lt_d.caf</string>
				<key>question</key>
				<string>Where is the letter...</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>l</string>
				<key>sound</key>
				<string>l_d.caf</string>
				<key>positions</key>
				<string>+4,-6/+4,-5/+3,-5/+3,-4/+2,-4/+2,-5/+2,-6/+3,-6/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string>l_l160</string>
			</dict>
			<key>m</key>
			<dict>
				<key>questSnd</key>
				<string>where_is_the_lt_d.caf</string>
				<key>question</key>
				<string>Where is the letter...</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>m</string>
				<key>sound</key>
				<string>m_d2.caf</string>
				<key>positions</key>
				<string>+4,-2/+4,-1/+4,+0/+4,+1/+3,+1/+2,+1/+2,+0/+3,+0/+3,-1/+2,-1/+2,-2/+3,-2/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string>l_m160</string>
			</dict>
			<key>n</key>
			<dict>
				<key>questSnd</key>
				<string>where_is_the_lt_d.caf</string>
				<key>question</key>
				<string>Where is the letter...</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>n</string>
				<key>sound</key>
				<string>n_d2.caf</string>
				<key>positions</key>
				<string>+4,+4/+4,+5/+4,+6/+3,+6/+2,+6/+2,+5/+3,+5/+3,+4/+2,+4/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string>l_n160</string>
			</dict>
			<key>o</key>
			<dict>
				<key>questSnd</key>
				<string>where_is_the_lt_d.caf</string>
				<key>question</key>
				<string>Where is the letter...</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>o</string>
				<key>sound</key>
				<string>o_d.caf</string>
				<key>positions</key>
				<string>-1,-3/-1,-2/-1,-1/-2,-1/-3,-1/-3,-2/-2,-2/-2,-3/-3,-3/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string>l_o160</string>
			</dict>
			<key>p</key>
			<dict>
				<key>questSnd</key>
				<string>where_is_the_lt_d.caf</string>
				<key>question</key>
				<string>Where is the letter...</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>p</string>
				<key>sound</key>
				<string>p_d2.caf</string>
				<key>positions</key>
				<string>-1,+1/-1,+2/-1,+3/-2,+3/-3,+3/-3,+2/-2,+2/-2,+1/-3,+1/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string>l_p160</string>
			</dict>
			<key>back</key>
			<dict>
				<key>next</key>
				<string>ghijk</string>
				<key>image</key>
				<string></string>
				<key>sound</key>
				<string></string>
				<key>question</key>
				<string></string>
				<key>questSnd</key>
				<string></string>
				<key>positions</key>
				<string>+0,-6/+0,-5/+0,-4/-1,-5/-1,-6/</string>
				<key>startDate</key>
				<string>2010-01-01</string>
				<key>tile</key>
				<string></string>
			</dict>
			<key>next</key>
			<dict>
				<key>next</key>
				<string>qrstu</string>
				<key>image</key>
				<string></string>
				<key>sound</key>
				<string></string>
				<key>question</key>
				<string></string>
				<key>questSnd</key>
				<string></string>
				<key>positions</key>
				<string>+0,+4/+0,+5/+0,+6/</string>
				<key>startDate</key>
				<string>2010-01-01</string>
				<key>tile</key>
				<string></string>
			</dict>
		</dict>
		<key>xof</key>
		<string>1.00</string>
		<key>yof</key>
		<string>0.50</string>
	</dict>
	<key>qrstu</key>
	<dict>
		<key>landscape</key>
		<string>1</string>
		<key>back</key>
		<string>mainScene</string>
		<key>image</key>
		<string>qrstu</string>
		<key>regions</key>
		<dict>
			<key>q</key>
			<dict>
				<key>questSnd</key>
				<string>where_is_the_lt_d.caf</string>
				<key>question</key>
				<string>Where is the letter...</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>q</string>
				<key>sound</key>
				<string>q_d.caf</string>
				<key>positions</key>
				<string>+4,-5/+4,-4/+4,-3/+3,-3/+2,-3/+2,-4/+3,-4/+3,-5/+2,-5/+1,-4/+1,-3/+1,-5/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string>l_q160</string>
			</dict>
			<key>r</key>
			<dict>
				<key>questSnd</key>
				<string>where_is_the_lt_d.caf</string>
				<key>question</key>
				<string>Where is the letter...</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>r</string>
				<key>sound</key>
				<string>r_d.caf</string>
				<key>positions</key>
				<string>+4,-1/+4,+0/+4,+1/+3,+1/+3,+0/+3,-1/+2,-1/+2,+0/+2,+1/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string>l_r160</string>
			</dict>
			<key>s</key>
			<dict>
				<key>questSnd</key>
				<string>where_is_the_lt_d.caf</string>
				<key>question</key>
				<string>Where is the letter...</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>s</string>
				<key>sound</key>
				<string>s_d.caf</string>
				<key>positions</key>
				<string>+4,+3/+4,+4/+4,+5/+3,+5/+2,+5/+2,+4/+3,+4/+3,+3/+2,+3/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string>l_s160</string>
			</dict>
			<key>t</key>
			<dict>
				<key>questSnd</key>
				<string>where_is_the_lt_d.caf</string>
				<key>question</key>
				<string>Where is the letter...</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>t</string>
				<key>sound</key>
				<string>t_d.caf</string>
				<key>positions</key>
				<string>-1,-2/-1,-1/-2,-1/-2,-2/-2,-3/-1,-3/-3,-3/-3,-2/-3,-1/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string>l_t160</string>
			</dict>
			<key>u</key>
			<dict>
				<key>questSnd</key>
				<string>where_is_the_lt_d.caf</string>
				<key>question</key>
				<string>Where is the letter...</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>u</string>
				<key>sound</key>
				<string>u_d.caf</string>
				<key>positions</key>
				<string>-1,+1/-2,+2/-1,+2/-1,+3/-2,+3/-3,+3/-3,+2/-3,+1/-2,+1/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string>l_u160</string>
			</dict>
			<key>back</key>
			<dict>
				<key>next</key>
				<string>lmnop</string>
				<key>image</key>
				<string></string>
				<key>sound</key>
				<string></string>
				<key>question</key>
				<string></string>
				<key>questSnd</key>
				<string></string>
				<key>positions</key>
				<string>+0,-4/+0,-5/+0,-6/</string>
				<key>startDate</key>
				<string>2010-01-01</string>
				<key>tile</key>
				<string></string>
			</dict>
			<key>next</key>
			<dict>
				<key>next</key>
				<string>vwxyz</string>
				<key>image</key>
				<string></string>
				<key>sound</key>
				<string></string>
				<key>question</key>
				<string></string>
				<key>questSnd</key>
				<string></string>
				<key>positions</key>
				<string>+0,+4/+0,+5/+0,+6/</string>
				<key>startDate</key>
				<string>2010-01-01</string>
				<key>tile</key>
				<string></string>
			</dict>
		</dict>
		<key>xof</key>
		<string>1.00</string>
		<key>yof</key>
		<string>0.50</string>
	</dict>
	<key>vwxyz</key>
	<dict>
		<key>landscape</key>
		<string>1</string>
		<key>back</key>
		<string>mainScene</string>
		<key>image</key>
		<string>vwxyz</string>
		<key>regions</key>
		<dict>
			<key>v</key>
			<dict>
				<key>questSnd</key>
				<string>where_is_the_lt_d.caf</string>
				<key>question</key>
				<string>Where is the letter...</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>v</string>
				<key>sound</key>
				<string>v_d.caf</string>
				<key>positions</key>
				<string>+4,-6/+4,-5/+4,-4/+3,-4/+2,-4/+2,-5/+3,-5/+3,-6/+2,-6/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string>l_v160</string>
			</dict>
			<key>w</key>
			<dict>
				<key>questSnd</key>
				<string>where_is_the_lt_d.caf</string>
				<key>question</key>
				<string>Where is the letter...</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>w</string>
				<key>sound</key>
				<string>w_d.caf</string>
				<key>positions</key>
				<string>+4,-2/+4,-1/+4,+0/+4,+1/+4,+2/+3,+2/+2,+1/+3,+1/+3,+0/+2,+0/+2,-1/+3,-1/+3,-2/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string>l_w160</string>
			</dict>
			<key>x</key>
			<dict>
				<key>questSnd</key>
				<string>where_is_the_lt_d.caf</string>
				<key>question</key>
				<string>Where is the letter...</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>x</string>
				<key>sound</key>
				<string>x_d.caf</string>
				<key>positions</key>
				<string>+4,+4/+4,+5/+4,+6/+3,+6/+2,+6/+2,+5/+3,+5/+3,+4/+2,+4/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string>l_x160</string>
			</dict>
			<key>y</key>
			<dict>
				<key>questSnd</key>
				<string>where_is_the_lt_d.caf</string>
				<key>question</key>
				<string>Where is the letter...</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>y</string>
				<key>sound</key>
				<string>y_d.caf</string>
				<key>positions</key>
				<string>-1,-3/-1,-2/-1,-1/-2,-1/-3,-1/-3,-2/-2,-2/-2,-3/-3,-3/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string>l_y160</string>
			</dict>
			<key>z</key>
			<dict>
				<key>questSnd</key>
				<string>where_is_the_lt_d.caf</string>
				<key>question</key>
				<string>Where is the letter...</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>z</string>
				<key>sound</key>
				<string>z_d.caf</string>
				<key>positions</key>
				<string>-1,+1/-1,+2/-1,+3/-2,+3/-2,+2/-2,+1/-3,+1/-3,+2/-3,+3/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string>l_z160</string>
			</dict>
			<key>back</key>
			<dict>
				<key>next</key>
				<string>qrstu</string>
				<key>image</key>
				<string></string>
				<key>sound</key>
				<string></string>
				<key>question</key>
				<string></string>
				<key>questSnd</key>
				<string></string>
				<key>positions</key>
				<string>+0,-4/+0,-5/+0,-6/</string>
				<key>startDate</key>
				<string>2010-01-01</string>
				<key>tile</key>
				<string></string>
			</dict>
			<key>abcSong</key>
			<dict>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string></string>
				<key>sound</key>
				<string>abcsong_d.m4a</string>
				<key>question</key>
				<string></string>
				<key>questSnd</key>
				<string></string>
				<key>positions</key>
				<string>+0,+5/+0,+6/-1,+6/-1,+5/</string>
				<key>startDate</key>
				<string>2010-01-01</string>
				<key>tile</key>
				<string></string>
			</dict>
		</dict>
		<key>xof</key>
		<string>1.00</string>
		<key>yof</key>
		<string>0.50</string>
	</dict>
	<key>12345</key>
	<dict>
		<key>landscape</key>
		<string>1</string>
		<key>back</key>
		<string>mainScene</string>
		<key>image</key>
		<string>12345</string>
		<key>regions</key>
		<dict>
			<key>1</key>
			<dict>
				<key>questSnd</key>
				<string>where_is_the_num_d.caf</string>
				<key>question</key>
				<string>Where is the number...</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>one</string>
				<key>sound</key>
				<string>1_d.caf</string>
				<key>positions</key>
				<string>+4,-5/+4,-4/+3,-4/+3,-5/+2,-5/+2,-4/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string>l_1160</string>
			</dict>
			<key>2</key>
			<dict>
				<key>questSnd</key>
				<string>where_is_the_num_d.caf</string>
				<key>question</key>
				<string>Where is the number...</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>two</string>
				<key>sound</key>
				<string>2_d.caf</string>
				<key>positions</key>
				<string>+4,-1/+4,+0/+4,+1/+3,+1/+2,+1/+2,+0/+3,+0/+3,-1/+2,-1/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string>l_2160</string>
			</dict>
			<key>3</key>
			<dict>
				<key>questSnd</key>
				<string>where_is_the_num_d.caf</string>
				<key>question</key>
				<string>Where is the number...</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>three</string>
				<key>sound</key>
				<string>3_d.caf</string>
				<key>positions</key>
				<string>+2,+5/+3,+5/+4,+5/+4,+4/+3,+4/+2,+4/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string>l_3160</string>
			</dict>
			<key>4</key>
			<dict>
				<key>questSnd</key>
				<string>where_is_the_num_d.caf</string>
				<key>question</key>
				<string>Where is the number...</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>four</string>
				<key>sound</key>
				<string>4_d.caf</string>
				<key>positions</key>
				<string>-1,-3/-1,-2/-1,-1/-2,-1/-3,-1/-3,-2/-2,-2/-2,-3/-3,-3/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string>l_4160</string>
			</dict>
			<key>5</key>
			<dict>
				<key>questSnd</key>
				<string>where_is_the_num_d.caf</string>
				<key>question</key>
				<string>Where is the number...</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>five</string>
				<key>sound</key>
				<string>5_d.caf</string>
				<key>positions</key>
				<string>-1,+1/-1,+2/-1,+3/-2,+3/-3,+3/-3,+2/-2,+2/-2,+1/-3,+1/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string>l_5160</string>
			</dict>
			<key>next</key>
			<dict>
				<key>next</key>
				<string>678910</string>
				<key>image</key>
				<string></string>
				<key>sound</key>
				<string></string>
				<key>question</key>
				<string></string>
				<key>questSnd</key>
				<string></string>
				<key>positions</key>
				<string>+0,+4/+0,+5/</string>
				<key>startDate</key>
				<string>2010-01-01</string>
				<key>tile</key>
				<string></string>
			</dict>
		</dict>
		<key>xof</key>
		<string>1.00</string>
		<key>yof</key>
		<string>0.50</string>
	</dict>
	<key>678910</key>
	<dict>
		<key>landscape</key>
		<string>1</string>
		<key>back</key>
		<string>mainScene</string>
		<key>image</key>
		<string>678910</string>
		<key>regions</key>
		<dict>
			<key>6</key>
			<dict>
				<key>questSnd</key>
				<string>where_is_the_num_d.caf</string>
				<key>question</key>
				<string>Where is the number...</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>six</string>
				<key>sound</key>
				<string>6_d.caf</string>
				<key>positions</key>
				<string>+4,-6/+4,-5/+4,-4/+3,-4/+3,-5/+3,-6/+2,-6/+2,-5/+2,-4/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string>l_6160</string>
			</dict>
			<key>7</key>
			<dict>
				<key>questSnd</key>
				<string>where_is_the_num_d.caf</string>
				<key>question</key>
				<string>Where is the number...</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>seven</string>
				<key>sound</key>
				<string>7_d.caf</string>
				<key>positions</key>
				<string>+4,-2/+4,-1/+4,+0/+3,+0/+2,+0/+2,-1/+3,-1/+3,-2/+2,-2/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string>l_7160</string>
			</dict>
			<key>8</key>
			<dict>
				<key>questSnd</key>
				<string>where_is_the_num_d.caf</string>
				<key>question</key>
				<string>Where is the number...</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>eight</string>
				<key>sound</key>
				<string>eigth_d2.caf</string>
				<key>positions</key>
				<string>+4,+3/+4,+4/+4,+5/+3,+5/+3,+4/+3,+3/+2,+3/+2,+4/+2,+5/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string>l_8160</string>
			</dict>
			<key>9</key>
			<dict>
				<key>questSnd</key>
				<string>where_is_the_num_d.caf</string>
				<key>question</key>
				<string>Where is the number...</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>nine</string>
				<key>sound</key>
				<string>9_d.caf</string>
				<key>positions</key>
				<string>-1,-4/-1,-3/-1,-2/-2,-2/-3,-2/-3,-3/-2,-3/-2,-4/-3,-4/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string>l_9160</string>
			</dict>
			<key>10</key>
			<dict>
				<key>questSnd</key>
				<string>where_is_the_num_d.caf</string>
				<key>question</key>
				<string>Where is the number...</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>ten</string>
				<key>sound</key>
				<string>10_d.caf</string>
				<key>positions</key>
				<string>-1,+1/-1,+2/-1,+3/-1,+4/-2,+4/-3,+4/-3,+3/-2,+3/-2,+2/-3,+2/-3,+1/-2,+1/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string>l_10160</string>
			</dict>
			<key>back</key>
			<dict>
				<key>next</key>
				<string>12345</string>
				<key>image</key>
				<string></string>
				<key>sound</key>
				<string></string>
				<key>question</key>
				<string></string>
				<key>questSnd</key>
				<string></string>
				<key>positions</key>
				<string>+0,-5/+0,-6/+0,-7/</string>
				<key>startDate</key>
				<string>2010-01-01</string>
				<key>tile</key>
				<string></string>
			</dict>
		</dict>
		<key>xof</key>
		<string>1.00</string>
		<key>yof</key>
		<string>0.50</string>
	</dict>
	<key>primary colors</key>
	<dict>
		<key>landscape</key>
		<string>0</string>
		<key>back</key>
		<string>mainScene</string>
		<key>image</key>
		<string>primaries</string>
		<key>regions</key>
		<dict>
			<key>blue</key>
			<dict>
				<key>questSnd</key>
				<string>where_is_the_col_d.caf</string>
				<key>question</key>
				<string>Where is the color...</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>blue</string>
				<key>sound</key>
				<string>blue_d.caf</string>
				<key>positions</key>
				<string>-4,-6/-3,-6/-2,-6/-2,-5/-1,-5/-1,-4/-2,-4/-3,-4/-3,-5/-4,-5/-4,-4/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string>l_blue160</string>
			</dict>
			<key>purple</key>
			<dict>
				<key>questSnd</key>
				<string>where_is_the_col_d.caf</string>
				<key>question</key>
				<string>Where is the color...</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>purple</string>
				<key>sound</key>
				<string>purple_d.caf</string>
				<key>positions</key>
				<string>+2,-6/+1,-5/+1,-4/+2,-4/+2,-5/+3,-6/+3,-5/+4,-6/+4,-5/+4,-4/+3,-4/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string>l_purple160</string>
			</dict>
			<key>yellow</key>
			<dict>
				<key>questSnd</key>
				<string>where_is_the_col_d.caf</string>
				<key>question</key>
				<string>Where is the color...</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>yellow</string>
				<key>sound</key>
				<string>yellow_d.caf</string>
				<key>positions</key>
				<string>-4,-1/-3,-1/-2,-1/-1,-1/-1,+0/-1,+1/-2,+1/-2,+0/-3,+0/-3,+1/-4,+1/-4,+0/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string>l_yellow160</string>
			</dict>
			<key>green</key>
			<dict>
				<key>questSnd</key>
				<string>where_is_the_col_d.caf</string>
				<key>question</key>
				<string>Where is the color...</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>green</string>
				<key>sound</key>
				<string>green_d.caf</string>
				<key>positions</key>
				<string>+1,-1/+2,-1/+3,-1/+4,-1/+4,+0/+4,+1/+3,+1/+3,+0/+2,+0/+2,+1/+1,+1/+1,+0/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string>l_green160</string>
			</dict>
			<key>red</key>
			<dict>
				<key>questSnd</key>
				<string>where_is_the_col_d.caf</string>
				<key>question</key>
				<string>Where is the color...</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>red</string>
				<key>sound</key>
				<string>red_d2.caf</string>
				<key>positions</key>
				<string>-4,+4/-3,+4/-2,+4/-1,+4/-1,+5/-1,+6/-2,+6/-2,+5/-3,+5/-3,+6/-4,+6/-4,+5/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string>l_red160</string>
			</dict>
			<key>orange</key>
			<dict>
				<key>questSnd</key>
				<string>where_is_the_col_d.caf</string>
				<key>question</key>
				<string>Where is the color...</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>orange</string>
				<key>sound</key>
				<string>orange_d2.caf</string>
				<key>positions</key>
				<string>+1,+4/+2,+4/+3,+4/+4,+4/+4,+5/+4,+6/+3,+6/+3,+5/+2,+5/+2,+6/+1,+6/+1,+5/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string>l_orange160</string>
			</dict>
			<key>black white</key>
			<dict>
				<key>next</key>
				<string>black white</string>
				<key>image</key>
				<string></string>
				<key>sound</key>
				<string></string>
				<key>question</key>
				<string></string>
				<key>questSnd</key>
				<string></string>
				<key>positions</key>
				<string>-1,-7/-1,-6/+0,-6/+1,-6/+1,-7/+0,-7/</string>
				<key>startDate</key>
				<string>2010-01-01</string>
				<key>tile</key>
				<string></string>
			</dict>
		</dict>
		<key>xof</key>
		<string>0.50</string>
		<key>yof</key>
		<string>1.00</string>
	</dict>
	<key>black white</key>
	<dict>
		<key>landscape</key>
		<string>0</string>
		<key>back</key>
		<string>mainScene</string>
		<key>image</key>
		<string>black white</string>
		<key>regions</key>
		<dict>
			<key>white</key>
			<dict>
				<key>questSnd</key>
				<string>where_is_the_col_d.caf</string>
				<key>question</key>
				<string>Where is the color...</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>white</string>
				<key>sound</key>
				<string>white_d2.caf</string>
				<key>positions</key>
				<string>-3,-6/-2,-6/-1,-6/-1,-5/-1,-4/-2,-4/-2,-5/-3,-5/-4,-5/-4,-4/-3,-4/-3,-3/-2,-3/-1,-3/-4,-3/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string>l_white160</string>
			</dict>
			<key>black</key>
			<dict>
				<key>questSnd</key>
				<string>where_is_the_col_d.caf</string>
				<key>question</key>
				<string>Where is the color...</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>black</string>
				<key>sound</key>
				<string>black_d2.caf</string>
				<key>positions</key>
				<string>+2,-4/+3,-4/+4,-3/+4,-2/+4,-1/+3,-1/+3,-2/+3,-3/+2,-3/+1,-3/+1,-2/+2,-2/+2,-1/+1,-1/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string>l_black160</string>
			</dict>
			<key>gray</key>
			<dict>
				<key>questSnd</key>
				<string>where_is_the_col_d.caf</string>
				<key>question</key>
				<string>Where is the color...</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>gray</string>
				<key>sound</key>
				<string>gray_d.caf</string>
				<key>positions</key>
				<string>-4,-1/-3,-1/-2,-1/-1,-1/-1,+0/-1,+1/-2,+1/-2,+0/-3,+0/-3,+1/-4,+1/-4,+0/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string>l_gray160</string>
			</dict>
			<key>brown</key>
			<dict>
				<key>questSnd</key>
				<string>where_is_the_col_d.caf</string>
				<key>question</key>
				<string>Where is the color...</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>brown</string>
				<key>sound</key>
				<string>brown_d.caf</string>
				<key>positions</key>
				<string>+2,+1/+3,+1/+4,+2/+3,+2/+2,+2/+1,+2/+1,+3/+2,+3/+3,+3/+4,+3/+4,+4/+3,+4/+2,+4/+1,+4/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string>l_brown160</string>
			</dict>
			<key>pink</key>
			<dict>
				<key>questSnd</key>
				<string>where_is_the_col_d.caf</string>
				<key>question</key>
				<string>Where is the color...</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>pink</string>
				<key>sound</key>
				<string>pink_d2.caf</string>
				<key>positions</key>
				<string>-3,+3/-2,+3/-1,+4/-2,+4/-3,+4/-4,+4/-4,+5/-3,+5/-2,+5/-1,+5/-1,+6/-2,+6/-3,+6/-4,+6/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string>l_pink160</string>
			</dict>
			<key>primaries</key>
			<dict>
				<key>next</key>
				<string>primary colors</string>
				<key>image</key>
				<string></string>
				<key>sound</key>
				<string></string>
				<key>question</key>
				<string></string>
				<key>questSnd</key>
				<string></string>
				<key>positions</key>
				<string>+2,-7/+3,-7/+2,-6/+3,-6/+4,-7/+4,-6/+5,-6/+5,-7/+3,-5/+4,-5/+2,-5/+5,-5/</string>
				<key>startDate</key>
				<string>2010-01-01</string>
				<key>tile</key>
				<string></string>
			</dict>
		</dict>
		<key>xof</key>
		<string>0.50</string>
		<key>yof</key>
		<string>1.00</string>
	</dict>
</dict>
</plist>
