<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>music</key>
	<string>LinguKidXmas.m4a</string>
	<key>mainScene</key>
	<dict>
		<key>landscape</key>
		<string>0</string>
		<key>back</key>
		<string></string>
		<key>image</key>
		<string>c_scene_main</string>
		<key>xof</key>
		<string>0.50</string>
		<key>yof</key>
		<string>1.00</string>
		<key>regions</key>
		<dict>
			<key>snowman</key>
			<dict>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>snowman</string>
				<key>sound</key>
				<string>ns_snowman.caf</string>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>positions</key>
				<string>+2,+4/+3,+4/+3,+5/+2,+5/+2,+6/+3,+6/+3,+7/+2,+7/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string>c_snowman160</string>
			</dict>
			<key>santa</key>
			<dict>
				<key>next</key>
				<string>northPole</string>
				<key>image</key>
				<string>Santa</string>
				<key>sound</key>
				<string>ns_santa.caf</string>
				<key>question</key>
				<string>Where is...</string>
				<key>questSnd</key>
				<string>ns_whereis.caf</string>
				<key>positions</key>
				<string>+4,-7/+3,-7/+3,-6/+4,-6/+5,-6/+5,-7/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string></string>
			</dict>
			<key>northPoleSign</key>
			<dict>
				<key>next</key>
				<string>northPole</string>
				<key>image</key>
				<string>North Pole</string>
				<key>sound</key>
				<string>ns_northpole.caf</string>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>positions</key>
				<string>+0,-6/+1,-6/+2,-6/+2,-5/+2,-4/+1,-4/+0,-4/+0,-5/+1,-5/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string></string>
			</dict>
			<key>christmasTree</key>
			<dict>
				<key>next</key>
				<string>livingRoom</string>
				<key>image</key>
				<string>Christmas tree</string>
				<key>sound</key>
				<string>ns_xmastree.caf</string>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>positions</key>
				<string>-3,+3/-3,+4/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string>c_christmastree160</string>
			</dict>
			<key>fireplace</key>
			<dict>
				<key>next</key>
				<string>livingRoom</string>
				<key>image</key>
				<string>fireplace</string>
				<key>sound</key>
				<string>fireplace_d.caf</string>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>positions</key>
				<string>-2,+3/-2,+4/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string>c_fireplace160</string>
			</dict>
			<key>house</key>
			<dict>
				<key>next</key>
				<string>livingRoom</string>
				<key>image</key>
				<string>house</string>
				<key>sound</key>
				<string>house_d.caf</string>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>positions</key>
				<string>-5,+2/-4,+2/-3,+2/-2,+2/-1,+2/+0,+2/+1,+2/+1,+3/+0,+3/-1,+3/-1,+4/-1,+5/-1,+6/-2,+6/-2,+5/-3,+5/-3,+6/-4,+6/-4,+5/-4,+4/-4,+3/-5,+3/-5,+4/-5,+5/-5,+6/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string></string>
			</dict>
			<key>door</key>
			<dict>
				<key>next</key>
				<string>livingRoom</string>
				<key>image</key>
				<string>door</string>
				<key>sound</key>
				<string>door_d.caf</string>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>positions</key>
				<string>+0,+4/+1,+4/+1,+5/+0,+5/+0,+6/+1,+6/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string></string>
			</dict>
			<key>tree</key>
			<dict>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>tree</string>
				<key>sound</key>
				<string>tree_d.caf</string>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>positions</key>
				<string>-3,-6/-2,-6/-2,-5/-3,-5/-4,-5/-4,-6/-3,-4/-2,-4/-2,-3/-1,-3/+2,-1/+2,-2/+3,-2/+3,-1/+4,-1/+4,-3/+4,-4/+4,-5/+5,-5/+5,-4/+5,-3/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string></string>
			</dict>
			<key>boy</key>
			<dict>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>boy</string>
				<key>sound</key>
				<string>ns_boy.caf</string>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>positions</key>
				<string>+5,+4/+4,+4/+4,+5/+5,+5/+5,+6/+4,+6/+4,+7/+5,+7/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string></string>
			</dict>
			<key>snowangel</key>
			<dict>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>snow angel</string>
				<key>sound</key>
				<string>ns_snowangel.caf</string>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>positions</key>
				<string>+3,+1/+2,+1/+4,+1/+4,+2/+4,+3/+3,+3/+3,+2/+2,+2/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string></string>
			</dict>
			<key>chimney</key>
			<dict>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>chimney</string>
				<key>sound</key>
				<string>chimney_d.caf</string>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>positions</key>
				<string>-3,+0/-3,-1/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string></string>
			</dict>
			<key>girl</key>
			<dict>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>girl</string>
				<key>sound</key>
				<string>girl_d2.caf</string>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>positions</key>
				<string>-4,-4/-5,-4/-5,-3/-4,-3/-3,-3/-3,-2/-4,-2/-5,-2/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string></string>
			</dict>
			<key>roof</key>
			<dict>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>roof</string>
				<key>sound</key>
				<string>roof_d.caf</string>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>positions</key>
				<string>-4,+1/-3,+1/-2,+1/-1,+1/+0,+1/+1,+1/+0,+0/-1,+0/-2,+0/-2,-1/-1,-1/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string></string>
			</dict>
		</dict>
	</dict>
	<key>livingRoom</key>
	<dict>
		<key>landscape</key>
		<string>1</string>
		<key>back</key>
		<string>mainScene</string>
		<key>image</key>
		<string>c_scene_livingroom</string>
		<key>xof</key>
		<string>0.50</string>
		<key>yof</key>
		<string>1.00</string>
		<key>regions</key>
		<dict>
			<key>christmasTree</key>
			<dict>
				<key>next</key>
				<string>christmasTree</string>
				<key>image</key>
				<string>Christmas tree</string>
				<key>sound</key>
				<string>ns_xmastree.caf</string>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>positions</key>
				<string>+4,-3/+4,-2/+3,-2/+3,-1/+2,-1/+2,-2/+2,-3/+3,-3/+1,-4/+1,-3/+1,-2/+1,-1/+1,+0/+0,+0/+0,-1/+0,-2/+0,-3/+0,-4/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string></string>
			</dict>
			<key>snowman</key>
			<dict>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>snowman</string>
				<key>sound</key>
				<string>ns_snowman.caf</string>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>positions</key>
				<string>+2,-5/+3,-5/+2,-6/+1,-6/+1,-5/+3,-6/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string></string>
			</dict>
			<key>present</key>
			<dict>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>present</string>
				<key>sound</key>
				<string>ns_present.caf</string>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>positions</key>
				<string>-1,-4/-2,-4/-2,-3/-3,-4/-2,-5/-1,-3/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string>c_present160</string>
			</dict>
			<key>star</key>
			<dict>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>star</string>
				<key>sound</key>
				<string>ns_star.caf</string>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>positions</key>
				<string>+5,-2/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string>c_star160</string>
			</dict>
			<key>candle</key>
			<dict>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>candle</string>
				<key>sound</key>
				<string>ns_candle.caf</string>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>positions</key>
				<string>+3,+4/+4,+4/+5,+4/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string></string>
			</dict>
			<key>stocking</key>
			<dict>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>stocking</string>
				<key>sound</key>
				<string>ns_stocking.caf</string>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>positions</key>
				<string>+3,+3/+2,+3/+3,+5/+2,+5/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string>c_stocking160</string>
			</dict>
			<key>fireplace</key>
			<dict>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>fireplace</string>
				<key>sound</key>
				<string>ns_fireplace.caf</string>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>positions</key>
				<string>+3,+2/+2,+2/+1,+2/+0,+2/+0,+3/+1,+3/+1,+4/+2,+4/+0,+4/+0,+5/+1,+5/+0,+6/+1,+6/+2,+6/+3,+6/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string></string>
			</dict>
			<key>hotChocolate</key>
			<dict>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>hot chocolate</string>
				<key>sound</key>
				<string>ns_hotshocolate.caf</string>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>positions</key>
				<string>-1,+4/-1,+5/-2,+5/-2,+4/-2,+0/-1,+0/-1,-1/-2,-1/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string>c_hotchocolate160</string>
			</dict>
			<key>wreath</key>
			<dict>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>wreath</string>
				<key>sound</key>
				<string>ns_wreath.caf</string>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>positions</key>
				<string>-1,+2/-1,+3/-2,+3/-2,+1/-1,+1/-2,+2/-3,+2/-3,+1/-3,+3/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string>c_wreath160</string>
			</dict>
			<key>mistletoe</key>
			<dict>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>mistletoe</string>
				<key>sound</key>
				<string>ns_mistletoe.caf</string>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>positions</key>
				<string>+4,-1/+4,+0/+5,+0/+4,+1/+5,+6/+5,+7/+4,+7/+4,+6/+3,+0/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string>c_mistletoe160</string>
			</dict>
		</dict>
	</dict>
	<key>christmasTree</key>
	<dict>
		<key>landscape</key>
		<string>0</string>
		<key>back</key>
		<string>livingRoom</string>
		<key>image</key>
		<string>c_scene_christmastree</string>
		<key>xof</key>
		<string>0.50</string>
		<key>yof</key>
		<string>1.00</string>
		<key>regions</key>
		<dict>
			<key>star</key>
			<dict>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>star</string>
				<key>sound</key>
				<string>ns_star.caf</string>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>positions</key>
				<string>-1,-6/+0,-7/+0,-6/+1,-6/+1,-5/+0,-5/-1,-5/+1,-7/-1,-7/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string></string>
			</dict>
			<key>angel</key>
			<dict>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>angel</string>
				<key>sound</key>
				<string>ns_angel.caf</string>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>positions</key>
				<string>+1,-4/+1,-3/-1,-2/-1,-1/+1,+2/+1,+3/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string>c_angel160</string>
			</dict>
			<key>bell</key>
			<dict>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>bell</string>
				<key>sound</key>
				<string>ns_bell.caf</string>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>positions</key>
				<string>-1,-4/-1,-3/+2,-1/+0,+4/-1,+0/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string>c_bell160</string>
			</dict>
			<key>candle</key>
			<dict>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>candle</string>
				<key>sound</key>
				<string>ns_candle.caf</string>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>positions</key>
				<string>-2,-3/-2,-2/-3,+0/-3,+1/-4,+3/-4,+4/+2,-3/+2,-2/+3,+0/+3,+1/+4,+3/+4,+4/+0,+0/+0,+1/-1,+2/-1,+3/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string>c_candle160</string>
			</dict>
			<key>snowflake</key>
			<dict>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>snowflake</string>
				<key>sound</key>
				<string>ns_snowflake.caf</string>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>positions</key>
				<string>+1,-2/-2,+0/+2,+1/-2,+4/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string>c_snowflake160</string>
			</dict>
			<key>candyCane</key>
			<dict>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>candy cane</string>
				<key>sound</key>
				<string>ns_candycane.caf</string>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>positions</key>
				<string>+0,-2/+0,-3/+1,+0/+1,+1/+3,+2/+3,+3/+2,+4/+2,+5/-1,+1/-2,+1/-2,+2/-3,+2/-3,+3/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string>c_candycane160</string>
			</dict>
			<key>present</key>
			<dict>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>present</string>
				<key>sound</key>
				<string>ns_present.caf</string>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>positions</key>
				<string>-3,+5/-2,+5/-2,+6/-3,+6/-1,+6/-1,+7/+0,+6/+1,+6/+0,+7/-2,+7/+2,+6/+3,+6/+4,+6/+4,+7/+3,+7/+2,+7/+1,+7/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string></string>
			</dict>
		</dict>
	</dict>
	<key>northPole</key>
	<dict>
		<key>landscape</key>
		<string>1</string>
		<key>back</key>
		<string>mainScene</string>
		<key>image</key>
		<string>c_scene_northpole</string>
		<key>xof</key>
		<string>0.50</string>
		<key>yof</key>
		<string>1.00</string>
		<key>regions</key>
		<dict>
			<key>northPole</key>
			<dict>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>North Pole</string>
				<key>sound</key>
				<string>ns_northpole.caf</string>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>positions</key>
				<string>+4,-7/+4,-6/+4,-5/+3,-5/+3,-6/+2,-6/+3,-7/+2,-7/+5,-6/+5,-7/+5,-5/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string></string>
			</dict>
			<key>reindeer</key>
			<dict>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>reindeer</string>
				<key>sound</key>
				<string>ns_reindeer.caf</string>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>positions</key>
				<string>+4,-3/+4,-4/+3,-4/+2,-4/+2,-3/+3,-3/+3,-2/+2,-2/+1,-2/+1,-3/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string>c_reindeer160</string>
			</dict>
			<key>Santa</key>
			<dict>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>Santa</string>
				<key>sound</key>
				<string>ns_santa.caf</string>
				<key>question</key>
				<string>Where is...</string>
				<key>questSnd</key>
				<string>ns_whereis.caf</string>
				<key>positions</key>
				<string>+1,-5/+1,-6/+0,-6/+0,-5/+1,-4/+0,-4/-1,-4/-1,-5/-1,-6/-2,-5/-2,-4/-3,-4/-3,-5/-4,-5/-4,-4/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string>c_santa160</string>
			</dict>
			<key>Rudolph</key>
			<dict>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>Rudolph</string>
				<key>sound</key>
				<string>ns_rudolph.caf</string>
				<key>question</key>
				<string>Where is...</string>
				<key>questSnd</key>
				<string>ns_whereis.caf</string>
				<key>positions</key>
				<string>+0,-2/+0,-3/-1,-3/-1,-2/-2,-2/-2,-3/-3,-3/-3,-2/-4,-2/-4,-3/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string></string>
			</dict>
			<key>sleigh</key>
			<dict>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>sleigh</string>
				<key>sound</key>
				<string>ns_sleigh.caf</string>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>positions</key>
				<string>+2,-1/+2,+0/+2,+1/+1,+1/+1,+0/+1,-1/+0,-1/+0,+0/+0,+1/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string>c_sleigh160</string>
			</dict>
			<key>elf</key>
			<dict>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>elf</string>
				<key>sound</key>
				<string>ns_elf.caf</string>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>positions</key>
				<string>-1,-1/-1,+0/-2,+0/-2,-1/-3,-1/-3,+0/-4,+0/-4,-1/+0,+6/+0,+7/-1,+7/-1,+6/-2,+6/-2,+7/-3,+7/-3,+6/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string></string>
			</dict>
			<key>sack</key>
			<dict>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>sack</string>
				<key>sound</key>
				<string>ns_sack.caf</string>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>positions</key>
				<string>-3,+1/-3,+2/-4,+2/-4,+1/-2,+1/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string></string>
			</dict>
			<key>doll</key>
			<dict>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>doll</string>
				<key>sound</key>
				<string>ns_doll.caf</string>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>positions</key>
				<string>+1,+6/+1,+5/+2,+5/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string>c_doll160</string>
			</dict>
			<key>train</key>
			<dict>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>train</string>
				<key>sound</key>
				<string>ns_train.caf</string>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>positions</key>
				<string>+0,+4/+0,+3/+0,+5/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string>c_train160</string>
			</dict>
			<key>teddyBear</key>
			<dict>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>teddy bear</string>
				<key>sound</key>
				<string>ns_teddy.caf</string>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>positions</key>
				<string>-1,+2/-1,+3/-2,+3/-2,+2/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string>c_teddybear160</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
