<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mainScene</key>
	<dict>
		<key>landscape</key>
		<string>0</string>
		<key>back</key>
		<string></string>
		<key>image</key>
		<string>house</string>
		<key>regions</key>
		<dict>
			<key>roof</key>
			<dict>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>roof</string>
				<key>sound</key>
				<string>roof_d.caf</string>
				<key>positions</key>
				<string>+0,-6/+0,-5/+0,-4/+1,-4/-1,-4/-2,-3/-1,-3/+0,-3/+1,-3/+2,-3/+1,-5/</string>
				<key>startDate</key>
				<string>2010-01-01</string>
				<key>tile</key>
				<string></string>
			</dict>
			<key>chimney</key>
			<dict>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>chimney</string>
				<key>sound</key>
				<string>chimney_d.caf</string>
				<key>positions</key>
				<string>+2,-5/+2,-4/</string>
				<key>startDate</key>
				<string>2010-01-01</string>
				<key>tile</key>
				<string></string>
			</dict>
			<key>house</key>
			<dict>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>next</key>
				<string>houseInterior</string>
				<key>image</key>
				<string>house</string>
				<key>sound</key>
				<string>house_d.caf</string>
				<key>positions</key>
				<string>-2,-2/-1,-2/+0,-2/+1,-2/+2,-2/+2,-1/+2,+0/+2,+1/+2,+2/+2,+3/+2,+4/+1,+1/+0,+1/-1,+1/-2,+1/-2,+2/-1,+2/-1,+3/-2,+3/-2,+4/-1,+4/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string>h_house160</string>
			</dict>
			<key>door</key>
			<dict>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>next</key>
				<string>houseInterior</string>
				<key>image</key>
				<string>door</string>
				<key>sound</key>
				<string>door_d.caf</string>
				<key>positions</key>
				<string>+0,+2/+1,+2/+1,+3/+0,+3/+0,+4/+1,+4/</string>
				<key>startDate</key>
				<string>2010-01-01</string>
				<key>tile</key>
				<string></string>
			</dict>
			<key>window</key>
			<dict>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>next</key>
				<string>houseInterior</string>
				<key>image</key>
				<string>window</string>
				<key>sound</key>
				<string>window_d.caf</string>
				<key>positions</key>
				<string>-2,-1/-1,-1/+0,-1/+1,-1/+1,+0/-1,+0/+0,+0/-2,+0/</string>
				<key>startDate</key>
				<string>2010-01-01</string>
				<key>tile</key>
				<string></string>
			</dict>
			<key>shed</key>
			<dict>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>shed</string>
				<key>sound</key>
				<string>shed_d.caf</string>
				<key>positions</key>
				<string>+4,+0/+5,+0/+5,+1/+4,+1/+3,+0/+3,+1/</string>
				<key>startDate</key>
				<string>2010-01-01</string>
				<key>tile</key>
				<string></string>
			</dict>
			<key>fence</key>
			<dict>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>fence</string>
				<key>sound</key>
				<string>fence_d.caf</string>
				<key>positions</key>
				<string>+3,+3/+4,+3/+5,+3/</string>
				<key>startDate</key>
				<string>2010-01-01</string>
				<key>tile</key>
				<string></string>
			</dict>
			<key>tree</key>
			<dict>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>tree</string>
				<key>sound</key>
				<string>tree_d.caf</string>
				<key>positions</key>
				<string>-5,-6/-4,-6/-3,-6/-2,-5/-1,-5/-2,-4/-3,-4/-3,-5/-4,-5/-5,-5/-5,-4/-4,-4/-3,-3/-5,-3/-4,-3/-5,-2/-4,-2/-3,-2/-3,-1/-4,-1/-3,+0/-3,+1/-3,+2/</string>
				<key>startDate</key>
				<string>2010-01-01</string>
				<key>tile</key>
				<string></string>
			</dict>
			<key>flower</key>
			<dict>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>flower</string>
				<key>sound</key>
				<string>flower_d.caf</string>
				<key>positions</key>
				<string>-5,+2/-4,+2/-4,+3/-5,+3/-4,+4/-5,+4/-5,+5/-4,+5/</string>
				<key>startDate</key>
				<string>2010-01-01</string>
				<key>tile</key>
				<string></string>
			</dict>
			<key>grass</key>
			<dict>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>grass</string>
				<key>sound</key>
				<string>grass_d.caf</string>
				<key>positions</key>
				<string>-5,+1/-4,+1/-3,+3/-3,+4/-3,+5/-2,+5/-1,+5/-1,+6/-1,+7/-2,+7/-2,+6/-3,+6/-3,+7/-4,+7/-4,+6/-5,+6/-5,+7/+2,+7/+2,+5/+2,+6/+3,+7/+4,+7/+5,+7/+5,+6/+4,+6/+3,+6/+3,+5/+4,+5/+5,+5/+5,+4/+4,+4/+3,+4/+3,+2/+4,+2/+5,+2/</string>
				<key>startDate</key>
				<string>2010-01-01</string>
				<key>tile</key>
				<string></string>
			</dict>
			<key>smoke</key>
			<dict>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>smoke</string>
				<key>sound</key>
				<string>smoke_d.caf</string>
				<key>positions</key>
				<string>+2,-7/+3,-7/+3,-6/+2,-6/+3,-5/</string>
				<key>startDate</key>
				<string>2010-01-01</string>
				<key>tile</key>
				<string></string>
			</dict>
			<key>cloud</key>
			<dict>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>cloud</string>
				<key>sound</key>
				<string>cloud_d.caf</string>
				<key>positions</key>
				<string>-4,-7/-5,-7/-3,-7/-2,-7/-1,-7/+0,-7/-1,-6/-2,-6/+3,-4/+4,-4/+4,-3/+3,-3/+3,-2/+4,-2/</string>
				<key>startDate</key>
				<string>2010-01-01</string>
				<key>tile</key>
				<string></string>
			</dict>
			<key>path</key>
			<dict>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>path</string>
				<key>sound</key>
				<string>path_d.caf</string>
				<key>positions</key>
				<string>+0,+5/+1,+5/+1,+6/+0,+6/+0,+7/+1,+7/</string>
				<key>startDate</key>
				<string>2010-01-01</string>
				<key>tile</key>
				<string></string>
			</dict>
		</dict>
		<key>xof</key>
		<string>0.50</string>
		<key>yof</key>
		<string>1.00</string>
	</dict>
	<key>houseInterior</key>
	<dict>
		<key>landscape</key>
		<string>0</string>
		<key>back</key>
		<string>mainScene</string>
		<key>image</key>
		<string>house_inside</string>
		<key>regions</key>
		<dict>
			<key>attic</key>
			<dict>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>attic</string>
				<key>sound</key>
				<string>attic_d.caf</string>
				<key>positions</key>
				<string>+0,-7/-1,-6/+0,-6/+1,-6/+2,-5/+1,-5/+0,-5/-1,-5/-2,-5/-3,-4/-4,-4/-2,-4/-1,-4/+0,-4/+1,-4/+2,-4/+3,-4/+4,-4/+3,-5/-3,-5/-2,-6/+2,-6/</string>
				<key>startDate</key>
				<string>2010-01-01</string>
				<key>tile</key>
				<string></string>
			</dict>
			<key>bathroom</key>
			<dict>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>next</key>
				<string>bathroom</string>
				<key>image</key>
				<string>bathroom</string>
				<key>sound</key>
				<string>bathroom_d.caf</string>
				<key>positions</key>
				<string>-4,-3/-3,-3/-2,-3/-1,-3/-1,-2/-2,-2/-3,-2/-4,-2/-4,-1/-3,-1/-2,-1/-1,-1/-1,+0/-2,+0/-3,+0/-4,+0/-4,+1/-3,+1/-2,+1/-1,+1/</string>
				<key>startDate</key>
				<string>2010-01-01</string>
				<key>tile</key>
				<string></string>
			</dict>
			<key>bedroom</key>
			<dict>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>next</key>
				<string>bedroom</string>
				<key>image</key>
				<string>bedroom</string>
				<key>sound</key>
				<string>bedroom_d.caf</string>
				<key>positions</key>
				<string>+0,-3/+1,-3/+2,-3/+3,-3/+4,-3/+4,-2/+3,-2/+2,-2/+1,-2/+0,-2/+0,-1/+0,+0/+1,+0/+1,-1/+2,-1/+3,-1/+4,-1/+4,+0/+3,+0/+2,+0/+4,+1/+3,+1/+2,+1/+1,+1/+0,+1/</string>
				<key>startDate</key>
				<string>2010-01-01</string>
				<key>tile</key>
				<string></string>
			</dict>
			<key>livingRoom</key>
			<dict>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>next</key>
				<string>livingRoom</string>
				<key>image</key>
				<string>living room</string>
				<key>sound</key>
				<string>living_room.caf</string>
				<key>positions</key>
				<string>-4,+2/-3,+2/-2,+2/-1,+2/+0,+2/+0,+3/-1,+3/-2,+3/-3,+3/-4,+3/-4,+4/-3,+4/-2,+4/-1,+4/+0,+4/+0,+5/-1,+5/-2,+5/-3,+5/-4,+5/-4,+6/-3,+6/-2,+6/-1,+6/+0,+6/</string>
				<key>startDate</key>
				<string>2010-01-01</string>
				<key>tile</key>
				<string></string>
			</dict>
			<key>kitchen</key>
			<dict>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>next</key>
				<string>kitchen</string>
				<key>image</key>
				<string>kitchen</string>
				<key>sound</key>
				<string>kitchen_d.caf</string>
				<key>positions</key>
				<string>+1,+2/+2,+2/+3,+2/+4,+2/+4,+3/+3,+3/+2,+3/+1,+3/+1,+4/+2,+4/+3,+4/+4,+4/+4,+5/+3,+5/+2,+5/+1,+5/+1,+6/+2,+6/+3,+6/+4,+6/</string>
				<key>startDate</key>
				<string>2010-01-01</string>
				<key>tile</key>
				<string></string>
			</dict>
		</dict>
		<key>xof</key>
		<string>0.50</string>
		<key>yof</key>
		<string>1.00</string>
	</dict>
	<key>bathroom</key>
	<dict>
		<key>landscape</key>
		<string>1</string>
		<key>back</key>
		<string>houseInterior</string>
		<key>image</key>
		<string>bathroom</string>
		<key>regions</key>
		<dict>
			<key>showerCurtain</key>
			<dict>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>shower curtain</string>
				<key>sound</key>
				<string>showercurtain_d.caf</string>
				<key>positions</key>
				<string>+4,-7/+4,-6/+3,-6/+3,-7/+2,-7/+2,-6/+1,-6/+1,-7/+0,-7/+0,-6/-1,-6/-1,-7/-2,-7/-2,-6/-3,-6/-3,-7/</string>
				<key>startDate</key>
				<string>2010-01-01</string>
				<key>tile</key>
				<string></string>
			</dict>
			<key>bathtub</key>
			<dict>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>bathtub</string>
				<key>sound</key>
				<string>bathtub_d.caf</string>
				<key>positions</key>
				<string>+0,-5/+0,-4/+0,-3/+0,-2/+0,-1/-1,-3/-1,-4/-1,-5/-2,-5/-2,-4/-2,-3/-3,-3/-3,-4/-3,-5/</string>
				<key>startDate</key>
				<string>2010-01-01</string>
				<key>tile</key>
				<string></string>
			</dict>
			<key>mirror</key>
			<dict>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>mirror</string>
				<key>sound</key>
				<string>mirror_d2.caf</string>
				<key>positions</key>
				<string>+4,+0/+4,+1/+4,+2/+3,+2/+2,+2/+2,+1/+3,+1/+3,+0/+2,+0/</string>
				<key>startDate</key>
				<string>2010-01-01</string>
				<key>tile</key>
				<string></string>
			</dict>
			<key>sink</key>
			<dict>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>sink</string>
				<key>sound</key>
				<string>sink_d.caf</string>
				<key>positions</key>
				<string>+1,+0/+1,+1/+1,+2/+0,+2/+0,+1/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string>h_sink160</string>
			</dict>
			<key>toiletPaper</key>
			<dict>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>toilet paper</string>
				<key>sound</key>
				<string>toilet_paper_d.caf</string>
				<key>positions</key>
				<string>+0,+3/-1,+3/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string>h_toiletpaper160</string>
			</dict>
			<key>toilet</key>
			<dict>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>toilet</string>
				<key>sound</key>
				<string>toilet_d2.caf</string>
				<key>positions</key>
				<string>+1,+5/+1,+6/+0,+6/+0,+5/-1,+6/-1,+5/-1,+4/-2,+4/-2,+5/</string>
				<key>startDate</key>
				<string>2010-01-01</string>
				<key>tile</key>
				<string></string>
			</dict>
			<key>scale</key>
			<dict>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>scale</string>
				<key>sound</key>
				<string>scale_d.caf</string>
				<key>positions</key>
				<string>-4,+5/-4,+6/-5,+6/-5,+5/</string>
				<key>startDate</key>
				<string>2010-01-01</string>
				<key>tile</key>
				<string></string>
			</dict>
			<key>rug</key>
			<dict>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>rug</string>
				<key>sound</key>
				<string>rug_d.caf</string>
				<key>positions</key>
				<string>-2,+0/-2,+1/-2,+2/-2,+3/-3,+3/-3,+2/-3,+1/-3,+0/-3,-1/</string>
				<key>startDate</key>
				<string>2010-01-01</string>
				<key>tile</key>
				<string></string>
			</dict>
			<key>towel</key>
			<dict>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>towel</string>
				<key>sound</key>
				<string>towel_d.caf</string>
				<key>positions</key>
				<string>-1,-2/-1,-1/-2,-1/-2,-2/</string>
				<key>startDate</key>
				<string>2010-01-01</string>
				<key>tile</key>
				<string></string>
			</dict>
			<key>floor</key>
			<dict>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>floor</string>
				<key>sound</key>
				<string>floor_d.caf</string>
				<key>positions</key>
				<string>-3,+6/-3,+5/-4,+4/-4,+3/-4,+2/-4,+1/-4,+0/-4,-1/-4,-2/-4,-3/-4,-4/-4,-5/-4,-6/-4,-7/-5,-7/-5,-6/-5,-5/-5,-4/-5,-3/-5,-2/-5,-1/-5,+0/-5,+1/-5,+2/-5,+3/-5,+4/-3,+4/</string>
				<key>startDate</key>
				<string>2010-01-01</string>
				<key>tile</key>
				<string></string>
			</dict>
			<key>shower</key>
			<dict>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>shower</string>
				<key>sound</key>
				<string>shower_d.caf</string>
				<key>positions</key>
				<string>+3,-5/+3,-4/+2,-4/+1,-4/+1,-5/+2,-5/</string>
				<key>startDate</key>
				<string>2010-01-01</string>
				<key>tile</key>
				<string></string>
			</dict>
			<key>wall</key>
			<dict>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>wall</string>
				<key>sound</key>
				<string>wall2_d.caf</string>
				<key>positions</key>
				<string>-4,+7/-3,+7/-2,+7/-2,+6/-1,+7/+0,+7/+1,+7/+2,+7/+3,+7/+4,+7/+5,+7/+5,+6/+4,+6/+3,+6/+2,+6/+2,+5/+3,+5/+4,+5/+5,+5/+5,+4/+4,+4/+3,+4/+2,+4/+1,+4/+0,+4/+1,+3/+2,+3/+3,+3/+4,+3/+5,+3/+5,+2/+5,+1/+5,+0/+5,-1/+5,-2/+4,-1/+4,-2/+3,-1/+3,-2/+2,-1/+2,-2/+1,-1/+1,-2/+1,-3/+2,-3/+3,-3/+4,-3/+5,-3/+4,-4/+5,-4/+4,-5/+5,-5/+5,-6/+5,-7/</string>
				<key>startDate</key>
				<string>2010-01-01</string>
				<key>tile</key>
				<string></string>
			</dict>
		</dict>
		<key>xof</key>
		<string>1.00</string>
		<key>yof</key>
		<string>0.50</string>
	</dict>
	<key>livingRoom</key>
	<dict>
		<key>landscape</key>
		<string>1</string>
		<key>back</key>
		<string>houseInterior</string>
		<key>image</key>
		<string>livingroom</string>
		<key>regions</key>
		<dict>
			<key>picture</key>
			<dict>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>picture</string>
				<key>sound</key>
				<string>picture_d.caf</string>
				<key>positions</key>
				<string>+5,-5/+5,-4/+4,-4/+4,-5/+3,-5/+3,-4/</string>
				<key>startDate</key>
				<string>2010-01-01</string>
				<key>tile</key>
				<string></string>
			</dict>
			<key>floor</key>
			<dict>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>floor</string>
				<key>sound</key>
				<string>floor_d.caf</string>
				<key>positions</key>
				<string>-2,-3/-3,-3/-2,-4/-3,-4/-4,-4/-4,-5/-5,-5/-5,-6/-5,-4/-3,-5/-2,-5/</string>
				<key>startDate</key>
				<string>2010-01-01</string>
				<key>tile</key>
				<string></string>
			</dict>
			<key>lamp</key>
			<dict>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>lamp</string>
				<key>sound</key>
				<string>lamp_d.caf</string>
				<key>positions</key>
				<string>+4,+1/+5,+2/+4,+3/+4,+2/+3,+3/+3,+2/+3,+1/+2,+2/+1,+2/+0,+2/-1,+2/</string>
				<key>startDate</key>
				<string>2010-01-01</string>
				<key>tile</key>
				<string></string>
			</dict>
			<key>sofa</key>
			<dict>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>sofa</string>
				<key>sound</key>
				<string>sofa_d.caf</string>
				<key>positions</key>
				<string>+0,+3/+0,+4/+0,+5/+1,+5/+1,+6/+1,+7/+0,+7/+0,+6/-1,+7/-2,+7/-3,+7/-2,+6/-1,+6/-1,+5/-2,+5/-1,+4/-2,+4/-1,+3/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string>h_sofa160</string>
			</dict>
			<key>wall</key>
			<dict>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>wall</string>
				<key>sound</key>
				<string>wall2_d.caf</string>
				<key>positions</key>
				<string>+1,+3/+1,+4/+2,+4/+2,+3/+3,+4/+2,+5/+3,+5/+2,+6/+3,+6/+2,+7/+3,+7/+4,+7/+5,+7/+5,+6/+4,+6/+4,+5/+5,+5/+5,+4/+4,+4/+5,+3/+5,+1/+5,+0/+4,+0/+4,-1/+5,-1/+5,-2/+4,-2/+3,-2/+3,-3/+4,-3/+5,-3/+5,-6/+4,-6/+3,-6/+3,-7/+4,-7/+5,-7/</string>
				<key>startDate</key>
				<string>2010-01-01</string>
				<key>tile</key>
				<string></string>
			</dict>
			<key>bookshelf</key>
			<dict>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>bookshelf</string>
				<key>sound</key>
				<string>bookshelf_d.caf</string>
				<key>positions</key>
				<string>+1,-1/+1,+0/+0,+0/+0,-1/-1,-1/-1,+0/-1,+1/+0,+1/+1,+1/</string>
				<key>startDate</key>
				<string>2010-01-01</string>
				<key>tile</key>
				<string></string>
			</dict>
			<key>rug</key>
			<dict>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>rug</string>
				<key>sound</key>
				<string>rug_d.caf</string>
				<key>positions</key>
				<string>-2,-2/-2,-1/-2,+0/-2,+1/-2,+2/-2,+3/-3,+3/-3,+4/-3,+5/-3,+6/-4,+7/-5,+6/-5,+7/-4,+6/-4,+5/-5,+5/-4,+4/-5,+4/-4,+3/-5,+3/-4,+2/-5,+2/-3,+2/-3,+1/-4,+1/-5,+1/-5,+0/-4,+0/-3,+0/-3,-1/-4,-1/-5,-1/-5,-2/-4,-2/-3,-2/-4,-3/-5,-3/</string>
				<key>startDate</key>
				<string>2010-01-01</string>
				<key>tile</key>
				<string></string>
			</dict>
			<key>television</key>
			<dict>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>television</string>
				<key>sound</key>
				<string>tv_d.caf</string>
				<key>positions</key>
				<string>-2,-6/-2,-7/-3,-7/-3,-6/-4,-6/-4,-7/-5,-7/</string>
				<key>startDate</key>
				<string>2010-01-01</string>
				<key>tile</key>
				<string></string>
			</dict>
			<key>fireplace</key>
			<dict>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>fireplace</string>
				<key>sound</key>
				<string>fireplace_d.caf</string>
				<key>positions</key>
				<string>+2,-7/+2,-6/+2,-5/+2,-4/+2,-3/+2,-2/+1,-2/+0,-2/-1,-2/-1,-3/-1,-4/+0,-4/+0,-3/+1,-3/+0,-5/+1,-5/+1,-4/-1,-5/-1,-6/+0,-6/+1,-6/+1,-7/+0,-7/-1,-7/</string>
				<key>startDate</key>
				<string>2010-01-01</string>
				<key>tile</key>
				<string></string>
			</dict>
			<key>plant</key>
			<dict>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>plant</string>
				<key>sound</key>
				<string>plant_d.caf</string>
				<key>positions</key>
				<string>+3,-1/+3,+0/+2,+0/+2,-1/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string>h_plant160</string>
			</dict>
		</dict>
		<key>xof</key>
		<string>1.00</string>
		<key>yof</key>
		<string>0.50</string>
	</dict>
	<key>kitchen</key>
	<dict>
		<key>landscape</key>
		<string>1</string>
		<key>back</key>
		<string>houseInterior</string>
		<key>image</key>
		<string>kitchen</string>
		<key>regions</key>
		<dict>
			<key>refrigerator</key>
			<dict>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>refrigerator</string>
				<key>sound</key>
				<string>refrigerator_d.caf</string>
				<key>positions</key>
				<string>+4,-5/+4,-4/+4,-3/+4,-2/+3,-2/+2,-2/+2,-3/+3,-3/+3,-4/+3,-5/+2,-5/+2,-4/+1,-4/+1,-3/+0,-3/+0,-4/+0,-5/+1,-5/-1,-5/-1,-4/-1,-3/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string>h_fridge160</string>
			</dict>
			<key>table</key>
			<dict>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>table</string>
				<key>sound</key>
				<string>table_d.caf</string>
				<key>positions</key>
				<string>-2,+0/-2,-1/-3,-4/-3,-3/-3,-1/-3,+0/-3,+1/-4,-4/-5,-4/-5,-3/-4,-3/-4,-2/-5,-2/-5,-1/-4,-1/-4,+0/-5,+0/-5,+1/-4,+1/-3,+2/-4,+2/-5,+2/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string>h_table160</string>
			</dict>
			<key>vase</key>
			<dict>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>vase</string>
				<key>sound</key>
				<string>vase_d.caf</string>
				<key>positions</key>
				<string>-2,-2/-3,-2/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string>h_vase160</string>
			</dict>
			<key>flower</key>
			<dict>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>flower</string>
				<key>sound</key>
				<string>flower_d.caf</string>
				<key>positions</key>
				<string>-1,-2/</string>
				<key>startDate</key>
				<string>2010-01-01</string>
				<key>tile</key>
				<string></string>
			</dict>
			<key>chair</key>
			<dict>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>chair</string>
				<key>sound</key>
				<string>chair_d.caf</string>
				<key>positions</key>
				<string>-3,+3/-3,+4/-2,+4/-2,+3/-4,+3/-4,+4/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string>h_chair160</string>
			</dict>
			<key>stove</key>
			<dict>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>stove</string>
				<key>sound</key>
				<string>stove_d.caf</string>
				<key>positions</key>
				<string>+1,+1/+1,+2/+0,+2/-1,+2/-2,+2/-2,+1/-1,+1/+0,+1/</string>
				<key>startDate</key>
				<string>2010-01-01</string>
				<key>tile</key>
				<string></string>
			</dict>
			<key>cabinet</key>
			<dict>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>cabinet</string>
				<key>sound</key>
				<string>cabinet_d.caf</string>
				<key>positions</key>
				<string>+0,-1/+0,-2/+0,+0/-1,+0/-1,-1/+0,+3/+0,+4/+0,+5/+0,+6/+0,+7/-1,+7/-1,+6/-1,+5/-1,+4/-1,+3/+4,+3/+5,+3/+5,+4/+4,+4/+4,+5/+5,+5/+5,+6/+4,+6/+4,+7/+5,+7/</string>
				<key>startDate</key>
				<string>2010-01-01</string>
				<key>tile</key>
				<string></string>
			</dict>
			<key>coffeeMachine</key>
			<dict>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>coffee machine</string>
				<key>sound</key>
				<string>coffeemachine_d.caf</string>
				<key>positions</key>
				<string>+1,+6/+2,+6/</string>
				<key>startDate</key>
				<string>2010-01-01</string>
				<key>tile</key>
				<string></string>
			</dict>
			<key>sink</key>
			<dict>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>sink</string>
				<key>sound</key>
				<string>sink_d.caf</string>
				<key>positions</key>
				<string>+1,+5/+1,+4/+1,+3/</string>
				<key>startDate</key>
				<string>2010-01-01</string>
				<key>tile</key>
				<string></string>
			</dict>
			<key>window</key>
			<dict>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>window</string>
				<key>sound</key>
				<string>window_d.caf</string>
				<key>positions</key>
				<string>+4,-1/+5,-1/+5,+0/+5,+1/+5,+2/+4,+2/+4,+1/+4,+0/+3,-1/+3,+0/+3,+1/+3,+2/+2,+2/+2,+1/+2,+0/+2,-1/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string>h_window160</string>
			</dict>
			<key>clock</key>
			<dict>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>clock</string>
				<key>sound</key>
				<string>clock_d.caf</string>
				<key>positions</key>
				<string>+3,-7/+2,-7/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string>h_clock160</string>
			</dict>
			<key>wall</key>
			<dict>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>wall</string>
				<key>sound</key>
				<string>wall2_d.caf</string>
				<key>positions</key>
				<string>+5,-2/+5,-3/+5,-4/+5,-5/+5,-6/+5,-7/+4,-7/+4,-6/+3,-6/+2,-6/+1,-6/+0,-6/-1,-6/-1,-7/+0,-7/+1,-7/-2,-7/+2,+3/+2,+4/+2,+5/+2,+7/</string>
				<key>startDate</key>
				<string>2010-01-01</string>
				<key>tile</key>
				<string></string>
			</dict>
			<key>floor</key>
			<dict>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>floor</string>
				<key>sound</key>
				<string>floor_d.caf</string>
				<key>positions</key>
				<string>-2,-3/-2,-4/-2,-5/-2,-6/-3,-6/-3,-7/-4,-7/-5,-7/-5,-6/-5,-5/-4,-5/-4,-6/-3,-5/-2,+5/-2,+6/-3,+6/-4,+6/-5,+6/-5,+5/-4,+5/-3,+5/-5,+4/-5,+3/</string>
				<key>startDate</key>
				<string>2010-01-01</string>
				<key>tile</key>
				<string></string>
			</dict>
			<key>scale</key>
			<dict>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>scale</string>
				<key>sound</key>
				<string>scale_d.caf</string>
				<key>positions</key>
				<string>+1,-1/</string>
				<key>startDate</key>
				<string>2010-01-01</string>
				<key>tile</key>
				<string></string>
			</dict>
			<key>toaster</key>
			<dict>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>toaster</string>
				<key>sound</key>
				<string>toaster_d.caf</string>
				<key>positions</key>
				<string>+1,-2/</string>
				<key>startDate</key>
				<string>2010-01-01</string>
				<key>tile</key>
				<string></string>
			</dict>
		</dict>
		<key>xof</key>
		<string>1.00</string>
		<key>yof</key>
		<string>0.50</string>
	</dict>
	<key>bedroom</key>
	<dict>
		<key>landscape</key>
		<string>1</string>
		<key>back</key>
		<string>houseInterior</string>
		<key>image</key>
		<string>bedroom</string>
		<key>regions</key>
		<dict>
			<key>bed</key>
			<dict>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>bed</string>
				<key>sound</key>
				<string>bed_d.caf</string>
				<key>positions</key>
				<string>-1,+5/-1,+4/-2,+3/-2,+2/-2,+1/-3,+1/-1,+1/-1,+0/-2,+0/-3,+0/-1,+2/-1,+3/+0,+4/+0,+5/+2,+6/+2,+5/+2,+4/+2,+3/+2,+2/+1,+2/+1,+3/+1,+4/+1,+5/+0,+3/+1,+1/+0,+1/+0,+2/+0,+0/+1,-1/+0,-2/+0,-1/+0,-3/+1,+0/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string>h_bed160</string>
			</dict>
			<key>trunk</key>
			<dict>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>trunk</string>
				<key>sound</key>
				<string>trunk_d.caf</string>
				<key>positions</key>
				<string>-1,-4/-1,-3/-1,-2/-1,-1/-2,-1/-3,-1/-3,-2/-2,-2/-2,-3/-3,-3/-2,-4/</string>
				<key>startDate</key>
				<string>2010-01-01</string>
				<key>tile</key>
				<string></string>
			</dict>
			<key>closet</key>
			<dict>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>closet</string>
				<key>sound</key>
				<string>closet_d.caf</string>
				<key>positions</key>
				<string>+4,-7/+4,-6/+3,-6/+3,-7/+2,-7/+2,-6/+1,-6/+1,-7/+0,-7/+0,-6/-1,-6/-1,-7/</string>
				<key>startDate</key>
				<string>2010-01-01</string>
				<key>tile</key>
				<string></string>
			</dict>
			<key>desk</key>
			<dict>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>desk</string>
				<key>sound</key>
				<string>desk_d.caf</string>
				<key>positions</key>
				<string>+2,-4/+2,-3/+2,-2/+1,-2/+1,-3/+1,-4/+0,-4/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string>h_desk160</string>
			</dict>
			<key>lamp</key>
			<dict>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>lamp</string>
				<key>sound</key>
				<string>lamp_d.caf</string>
				<key>positions</key>
				<string>+2,+7/+1,+7/+3,+1/+2,+1/+2,+0/+3,+0/+1,+6/</string>
				<key>startDate</key>
				<string>2010-1-1</string>
				<key>tile</key>
				<string>h_lamp160</string>
			</dict>
			<key>nightTable</key>
			<dict>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>night table</string>
				<key>sound</key>
				<string>nighttable_d.caf</string>
				<key>positions</key>
				<string>+0,+6/+0,+7/-1,+7/-1,+6/-2,+7/</string>
				<key>startDate</key>
				<string>2010-01-01</string>
				<key>tile</key>
				<string></string>
			</dict>
			<key>carpet</key>
			<dict>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>carpet</string>
				<key>sound</key>
				<string>carpet_d2.caf</string>
				<key>positions</key>
				<string>-2,-6/-2,-7/-2,-5/-3,-5/-3,-6/-3,-7/-4,-7/-4,-6/-4,-5/-5,-5/-5,-6/-5,-7/-4,-4/-4,-3/-5,-4/-5,-3/-3,-4/-4,-2/-5,-2/-5,-1/-4,-1/-4,+0/-4,+1/-5,+1/-5,+0/-4,+2/-3,+2/-3,+3/-3,+4/-4,+4/-4,+3/-5,+2/-5,+3/-5,+4/-5,+5/-5,+6/-5,+7/-4,+7/-3,+7/-2,+6/-2,+5/-3,+5/-3,+6/-4,+6/-4,+5/</string>
				<key>startDate</key>
				<string>2010-01-01</string>
				<key>tile</key>
				<string></string>
			</dict>
			<key>wall</key>
			<dict>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>wall</string>
				<key>sound</key>
				<string>wall2_d.caf</string>
				<key>positions</key>
				<string>+5,-1/+4,-1/+3,-1/+2,-1/+4,+0/+5,+0/+5,+1/+5,+2/+5,+3/+5,+4/+5,+5/+5,+6/+5,+7/+4,+7/+3,+7/+3,+6/+4,+6/+4,+5/+3,+5/+3,+4/+4,+4/+4,+3/+3,+3/+3,+2/+4,+2/+4,+1/</string>
				<key>startDate</key>
				<string>2010-01-01</string>
				<key>tile</key>
				<string></string>
			</dict>
			<key>picture</key>
			<dict>
				<key>question</key>
				<string>Where is the...</string>
				<key>questSnd</key>
				<string>whereisthe_d.caf</string>
				<key>next</key>
				<string></string>
				<key>image</key>
				<string>picture</string>
				<key>sound</key>
				<string>picture_d.caf</string>
				<key>positions</key>
				<string>+4,-4/+4,-3/+4,-2/+3,-2/+3,-3/+3,-4/+5,-4/+5,-3/+5,-2/</string>
				<key>startDate</key>
				<string>2010-01-01</string>
				<key>tile</key>
				<string></string>
			</dict>
		</dict>
		<key>xof</key>
		<string>1.00</string>
		<key>yof</key>
		<string>0.50</string>
	</dict>
</dict>
</plist>
